html, body{
  height:100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 50px;
    padding-right: 50px;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -200px;
    /* Pad bottom by footer height */
    padding: 0 0 200px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 200px;
    padding: 20px 0 0;
    background-color: #f5f5f5;
}


/* Set width on the form input elements since they're 100% wide by default */
input, 
select, 
textarea {
    max-width: 280px;    
}
.input-group { /*fix WEB-7 - Liệu có thể sử dụng col-xs, col-md để đặt max-width cho input text được không?*/
    display: block !important;
}

/* Set icon in the right side*/
.ui-li-icon-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}

.title-bar-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.appframe-title-bar {
    border-bottom: 1px solid #ddd;
}


.appframe-iconbar {
    border-bottom: 1px solid #ddd;
}

.iconbar {
    padding-bottom: 20px;
}

.listview-main-section {
    border-right: 1px solid #ddd;
}

.form-link {
    font-weight: bold;
    font-size: 102%;
}

.col-text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 30px;
    white-space: nowrap;
}

/* Autocomplete*/
.ui-autocomplete-loading {
    background: white url("themes/base/images/ui-anim_basic_16x16.gif") right center no-repeat;
  }

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

/* listing */

.show_filters {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #c7c7c7;
}

.list-row {
	padding: 5px 15px;
	margin: 0px -15px;
	border-bottom: 1px solid #c7c7c7;
}

.side-panel {
	border-bottom: 1px solid #c7c7c7;
	margin: 0px -15px;
	padding: 5px 15px;
}


/* DateTime Picker */
.datepicker {
 
}

/* list */

.doclist-row {
	position: relative;
	padding-top: 5px;
	padding-bottom: 6px;
	/*border-bottom: 1px solid #eee;*/
}

.doclist-row .col {
	padding-left: 7px;
	padding-right: 7px;
}

.list-timestamp {
	position: absolute;
	right: 5px;
	bottom: 2px;
	font-size: 50%;
	color: #888;
}

.list-doc-name {
	position: absolute;
	bottom: 2px;
}

.list-doc-name a {
	font-size: 70%;
	color: #888;
}

/*float-message*/
#flash-message {
    padding-right: 30px;
}

.flyover {
   left: 150%;
   overflow: hidden;
   position: fixed;
   width: 50%;
   opacity: 0.9;
   z-index: 1050;
   transition: left 0.6s ease-out 0s;
}
 
.flyover-centered {
   top: 50%;
   transform: translate(-50%, -50%);
}

.flyover.in {
   left: 50%;
}

.flyover-bottom {
   bottom: 10px;
}

.flyover-top {
   top: 10px;
}

/*
.k-widget select, .k-widget textarea, .k-widget input[type="text"]:not(.k-input), .k-widget input[type="password"], .k-widget input[type="datetime"], .k-widget input[type="datetime-local"], .k-widget input[type="date"], .k-widget input[type="month"], .k-widget input[type="time"], .k-widget input[type="week"], .k-widget input[type="number"], .k-widget input[type="email"], .k-widget input[type="url"], .k-widget input[type="search"], .k-widget input[type="tel"], .k-widget input[type="color"], .k-widget .uneditable-input {
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}

.k-window .row, .k-window .row *:not(.k-widget):not(.k-animation-container), .k-widget .row *:before:not(.k-widget) { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

.k-widget .col-lg-1, .k-widget .col-lg-2, .k-widget .col-lg-3, .k-widget .col-lg-4, .k-widget .col-lg-5, .k-widget .col-lg-6, .k-widget .col-lg-7, .k-widget .col-lg-8, .k-widget .col-lg-9, .k-widget .col-lg-10, .k-widget .col-lg-11, .k-widget .col-lg-12, .k-widget .col-md-1, .k-widget .col-md-2, .k-widget .col-md-3, .k-widget .col-md-4, .k-widget .col-md-5, .k-widget .col-md-6, .k-widget .col-md-7, .k-widget .col-md-8, .k-widget .col-md-9, .k-widget .col-md-10, .k-widget .col-md-11, .k-widget .col-md-12, .k-widget .col-sm-1, .k-widget .col-sm-2, .k-widget .col-sm-3, .k-widget .col-sm-4, .k-widget .col-sm-5, .k-widget .col-sm-6, .k-widget .col-sm-7, .k-widget .col-sm-8, .k-widget .col-sm-9, .k-widget .col-sm-10, .k-widget .col-sm-11, .k-widget .col-sm-12, .k-widget .col-xs-1, .k-widget .col-xs-2, .k-widget .col-xs-3, .k-widget .col-xs-4, .k-widget .col-xs-5, .k-widget .col-xs-6, .k-widget .col-xs-7, .k-widget .col-xs-8, .k-widget .col-xs-9, .k-widget .col-xs-10, .k-widget .col-xs-11, .k-widget .col-xs-12
{
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}

.form-control.k-widget
{
    padding: 0;
    width: 100%;
    height: auto;
}

.form-control.k-widget:not(.k-autocomplete)
{
    border-width: 0;
}

*/
.k-numeric-wrap::before {
    content: none !important;
}
