@using Action = System.Action
@model MyERP.Web.Models.PosHeaderEditViewModel

@{
    Layout = null;
    String posPanelId = "POSPanel" + ViewBag.ID;
    String lookupItemComboId = "LookupItemCombo" + ViewBag.ID;
    String searchButtonId = "SearchButton" + ViewBag.ID;
    String addItemButtonId = "AddItemButton" + ViewBag.ID;
    String posLineGridPanel = "PosLineGridPanel" + ViewBag.ID;
    String posLineStore = "PosLineStore" + ViewBag.ID;
    
}


@(Html.X().Panel()
      .Closable(true)
      .Layout(LayoutType.Border)
      .Title("POS - " + DateTime.Now.ToLongTimeString())
      .ID(posPanelId)
      .Tag(ViewBag.ID)
      .Items(
          Html.X().Panel()
              .Header(false)
              .Region(Region.North)
              .Border(false)
              .Layout(LayoutType.HBox)
              .BodyPadding(5)
              .Defaults(Html.X().Parameter().Name("margin").Value("0 5 0 0").Mode(ParameterMode.Value))
              .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Top })
              .Items(
                  Html.X().ComboBox()
                      .ID(lookupItemComboId)
                      .Width(400)
                      .DisplayField("Code")
                      .ValueField("Id")
                      .FieldStyle("text-transform: uppercase;")
                      .TypeAhead(true)
                      .MinChars(0)
                      .PageSize(10)
                      .SelectOnTab(true)
                      .ForceSelection(true)
                      .ValidateOnBlur(true)
                      .ValidateOnChange(true)
                      .EnableKeyEvents(true)
                      .Listeners(ls =>
                      {
                          ls.KeyDown.Handler = "if (e.getKey() == e.ENTER) { var lookupItemValue = this.getValue(); if (lookupItemValue > 0) { Ext.getCmp('" + addItemButtonId + "').fireEvent('click'); }}";
                      })
                      .ListConfig(Html.X().BoundList()
                          .LoadingText("Searching...")
                          .ItemTpl(Html.X().XTemplate()
                              .Html(@<text>
                                        <tpl for=".">
                                            <div class="search-item">
                                                <h3>{Code}</h3>
                                                {Description}
                                            </div>
                                        </tpl>
                                     </text>))
                          .MinWidth(400))
                      .Store(Html.X().Store().AutoLoad(false)
                          .Proxy(Html.X().AjaxProxy()
                              .Url(Url.Action("LookupData", "Index", new { area = "Item" }))
                              .Reader(Html.X().JsonReader().RootProperty("data").TotalProperty("total")))
                          .Model(Html.X().Model()
                              .IDProperty("Id")
                              .Fields(
                                  new ModelField("Id", ModelFieldType.Int),
                                  new ModelField("OrganizationCode", ModelFieldType.String),
                                  new ModelField("Code", ModelFieldType.String),
                                  new ModelField("Description", ModelFieldType.String)
                              )
                          )
                      ),
                  Html.X().Button().ID(searchButtonId).Icon(Icon.Find),
                  Html.X().Button().ID(addItemButtonId).Icon(Icon.ArrowDown).DirectEvents(de =>
                  {
                      de.Click.Action = "AddItemToDetails";
                      de.Click.ExtraParams.Add(new Parameter("lookupItemId", "App." + lookupItemComboId + ".getValue()", ParameterMode.Raw));
                      de.Click.ExtraParams.Add(new Parameter("viewBagID", ViewBag.ID, ParameterMode.Value));
                      de.Click.ExtraParams.Add(new Parameter("posLinesCount", "App." + posLineGridPanel + ".getStore().getCount()", ParameterMode.Raw));
                  })
              ),
          Html.X().GridPanel()
              .ID(posLineGridPanel)
              .Title("Items")
              .Region(Region.Center)
              .SortableColumns(false)
              .Store(Html.X().Store()
                  .ID(posLineStore)
                  .Model(Html.X().Model()
                      .IDProperty("LineNo")
                      .Fields(
                          new ModelField("Id", ModelFieldType.Int),
                          new ModelField("LineNo", ModelFieldType.Int),
                          new ModelField("ItemId", ModelFieldType.Int),
                          new ModelField("Description", ModelFieldType.String),
                          new ModelField("UomId", ModelFieldType.Int),
                          new ModelField("UomDescription", ModelFieldType.String),
                          new ModelField("Quantity", ModelFieldType.Float),
                          new ModelField("UnitPrice", ModelFieldType.Float),
                          new ModelField("Amount", ModelFieldType.Float)
                      )
                  )
                  .DataSource(Model.PosLineEditViewModels)
              )
              .ColumnModel(
                  Html.X().RowNumbererColumn(),
                  Html.X().Column().Text("Description").DataIndex("Description").MinWidth(300),
                  Html.X().Column().Text("Uom").DataIndex("UomId").Width(100).Editor(
                      Html.X().ComboBox()
                          .DisplayField("Code")
                          .ValueField("UomId")
                          .FieldLabel("")
                          .FieldStyle("text-transform: uppercase;")
                          .SelectOnTab(true)
                          .Editable(false)
                          .StoreID("LookUpUomOfItemStore")
                      ).Renderer("UomRenderer").EditorOptions(action =>
                      {
                          action.Listeners.BeforeStartEdit.Fn = "uomBeforeStartEdit";
                      }),
                  Html.X().Column().Text("Quantity").DataIndex("Quantity").Width(100).Editor(Html.X().NumberField()),
                  Html.X().Column().Text("Unit Price").DataIndex("UnitPrice").Width(100),
                  Html.X().Column().Text("Amount").DataIndex("Amount").Width(100),
                  Html.X().CommandColumn()
                      .Width(35)
                      .Commands(
                          Html.X().GridCommand()
                              .CommandName("Delete")
                              .Icon(Icon.Delete)
                              .ToolTip(tt => tt.Text = "Delete")
                      )
                      .Listeners(ls =>
                      {
                          ls.Command.Handler = "Ext.Msg.confirm('Alert', 'Do you want to DELETE ?', function (id, value) { if (id === 'yes') { #{" + posLineStore + "}.remove(record); #{" + posLineStore + "}.commitChanges(); }}, this);";
                      })
              )
              .View(Html.X().GridView().StripeRows(true))
              .SelectionModel(
                  Html.X().CellSelectionModel()
              )
              .Plugins(
                  Html.X().CellEditing().Listeners(ls =>
                  {
                      ls.Edit.Fn = "lineEdit";
                      ls.BeforeEdit.Fn = "beforeEdit";
                  })

              ),
          Html.X().FormPanel()
              .Title("Invoice Information")
              .Region(Region.East)
              .MinWidth(400)
              .Split(true)
      ))
