@{
    ViewBag.Title = "Financial";
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">
    <div class="col-sm-3 col-xs-2">
        <ul class="nav nav-pills nav-stacked">
            <li title="General Ledger" class="active"><a href="#GeneralLedger" data-toggle="tab"><b>1.</b> <span class="hidden-xs">General Ledger</span></a></li>
            <li title="Cash & Bank"><a href="#CashBank" data-toggle="tab"><b>2.</b> <span class="hidden-xs">Cash & Bank</span></a></li>
            <li title="Receipt & Payment"><a href="#ReceiptPayment" data-toggle="tab"><b>3.</b> <span class="hidden-xs">Receipt & Payment</span></a></li>
            <li title="Fixed Asset"><a href="#FixedAsset" data-toggle="tab"><b>4.</b> <span class="hidden-xs">Fixed Asset </span></a></li>
        </ul>
    </div>

    <div class="col-sm-9  col-xs-10">

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="GeneralLedger">
                <div class="panel panel-default">
                    <div class="panel-heading">General Ledger</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4 col-md-4">
                                <ul class="nav nav-pills nav-stacked">
                                    <li>@Html.ActionLink("General Ledger", "Index", "GeneralLedger")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="CashBank">
                <div class="panel panel-default">
                    <div class="panel-heading">Cash & Bank</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4 col-md-4">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">Cash</a></li>
                                    <li><a href="#">Bank</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="ReceiptPayment">
                <div class="panel panel-default">
                    <div class="panel-heading">Receipt & Payment</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4 col-md-4">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">Receipt</a></li>
                                    <li><a href="#">Payment</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="FixedAsset">
                <div class="panel panel-default">
                    <div class="panel-heading">Fixed Asset</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4 col-md-4">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">Fixed Asset</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
