@(Html.X().Panel()
        .ID("rightnav")
        .Region(Region.East)
        .Width(260)
        .Header(false)
        .MarginSpec("0")
        .Hidden(true)
        .Border(false)
        .BodyCls("right-nav-menu")
        .Content(
            @<text>
                <ul id="nav-menu" class="nav-menu">
                    <li><a href="#">User Setting</a></li>
                </ul>
                <a href="#" class="button button-success button-block button-sidebar-right">Log Out</a>
            </text>
                )
)
