@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hoang Anh Tuan <br />
    <abbr title="Phone">Phone :</abbr>
    0915.025.006
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tuanhoanganh@yahoo.com">tuanhoanganh@yahoo.com</a><br />
</address>
