<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.web>
    <authentication mode="Forms"></authentication>
    <profile enabled="true">
      <properties>
        <add name="Id"/>
      </properties>
    </profile>
    <membership defaultProvider="myCustomProvider">
      <providers>
        <add name="myCustomProvider" type="MyERP.Web.CustomMembershipProvider, MyERP.Web"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="myCustomProvider">
      <providers>
        <add name="myCustomProvider" type="MyERP.Web.CustomRoleProvider, MyERP.Web"/>
      </providers>
    </roleManager>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="Connection" connectionString="server=127.0.0.1;port=5433;database=myerp;userid=postgres;password=postgres" providerName="Npgsql" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <!--<service name="MyERP.Web.MyERPDataService" behaviorConfiguration="DebugEnabled"></service>-->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DebugEnabled">
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>