@using InputType = Ext.Net.InputType
@model MyERP.Web.Models.LoginViewModel

@{
    Layout = null;
    var enVer = MyERP.Web.MyERPVersion.Full;
}
<!DOCTYPE html>
<html>
<head>
    <title>MyERP - Login</title>
    <link rel="stylesheet" href="@Url.Content("~/resources/css/main.css?" + enVer)"/>
    <script>
        Ext.onReady(function() {
            if (top !== self) {
                Ext.select("a", true).on("click",
                    function(e, el) {
                        if (!Ext.fly(el).hasCls("exclude")) {
                            parent.location = el.href;
                        }
                    },
                    null,
                    { preventDefault: true });
            }
        });
    </script>
</head>
<body class="welcome">
    @Html.X().ResourceManager().Theme(Theme.Triton)

    @(Html.X().Viewport()
        .ID("ViewPort")
        .Layout(LayoutType.Center)
        .Items(
            Html.X().FormPanel()
                .ID("LoginFormPanel")
                .Title("Login")
                .Height(215)
                .Width(350)
                .Frame(true)
                .Collapsible(false)
                .BodyPadding(5)
                .DefaultButton("Button1")
                .Items(
                    Html.X().AntiForgeryField(),
                    Html.X().TextFieldFor(m => m.Name)
                        .EmptyText("")
                        .AllowBlank(false)
                        .LabelAlign(LabelAlign.Left)
                        .BlankText("Your username is required."),
                    Html.X().TextFieldFor(m => m.Password)
                        .EmptyText("")
                        .AllowBlank(false)
                        .LabelAlign(LabelAlign.Left)
                        .BlankText("Your password is required.")
                        .InputType(InputType.Password),
                    Html.X().CheckboxFor(m => m.RememberMe)
                        .LabelAlign(LabelAlign.Left)
                        .Name("remember")
                )
                .Buttons(Html.X().Button()
                    .ID("Button1")
                    .Text("Submit")
                    .Icon(Icon.Accept)
                    .DirectClickAction("Login")
                )
        )
    )
</body>
</html>
