@{
    var enVer = MyERP.Web.MyERPVersion.Full;
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>MyERP - Login</title>
    <link rel="stylesheet" href="@Url.Content("~/resources/css/main.css?" + enVer)" />
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />

    <script>
    </script>
</head>
<body>
    <img src="../../resources/images/404.png" alt="PageNotFound" width="400px"/>
</body>
</html>
